<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title><%=title%></title>
		<link rel="stylesheet" href="/admin/plugins/layui/css/layui.css" media="all" />
		<style type="text/css">
			body{background: url(admin/images/rebc.gif);}
		</style>

</head>
<body>
	<div style="margin-top: 200px">
		<div style="text-align: center;">
			<a href="#"><img src="admin/images/admin_logo.png" /></a>
		</div>
		<br>

		<div style="margin-left: 30%;margin-right: 30%">
		    <fieldset class="layui-elem-field">
			<div class="layui-field-box" style="background-color: white;">
				<div class="head">
					<img src="admin/images/15.png" style="width: 30px;height: 30px;">
					<span>用户注册成功</span>
				</div>
				<br>


				<div style="text-align: right">
					<a href="/login" style="margin-left: 40px">去登录</a>
				</div>
			</div>
		</fieldset>

		</div>

	</div>

	

	
</body>
</html>